<h1>HOME PAGE</h1>

<div class="columns">
  <%= link_to 'CREATE POST', new_post_path %>
  <br><br>
</div>

<% @get_post.each do |form| %>
  <%= form.title %><br>
  <%= form.body %><br>

  <%= link_to 'Edit', edit_post_path(form) %><br>
  <%= link_to 'Delete', post_path(form), method: :delete %><br>
<% end %>
